.topBar {
  width: 100%;
  background: linear-gradient(90deg, #003b91, #005bea);
  color: white;
  padding: 22px 8%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.cartTitle {
  padding: 60px 8%;
  color: #0f2147;
  font-size: 36px;
}

@media (max-width: 900px) {
  .topBar {
    padding: 20px 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .topBar {
    padding: 18px 12px;
  }

  .cartTitle {
    padding: 35px 16px;
    font-size: 30px;
  }
}