.wrapper {
  margin-top: 18px;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-bottom: 14px;
}

.button {
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 8px;
  background-color: #005bea;
  color: white;
  font-size: 18px;
  font-weight: 800;
}

.quantity {
  min-width: 24px;
  text-align: center;
  font-weight: 800;
  color: #0f2147;
}

.addButton {
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 12px;
  background-color: #005bea;
  color: white;
  font-weight: 700;
}